@model Kino.Models.Sean

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Seans</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminRozpoczecia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminRozpoczecia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminZakonczenia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminZakonczenia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WolneMiejsca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WolneMiejsca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaNumerSali)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaNumerSali)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FilmIdFilmNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FilmIdFilmNavigation.IdFilm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdSeans)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdSeans)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdSeans">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
