@model IEnumerable<Kino.Models.Sean>

@{
    ViewData["Title"] = "Seanse";
}

<h1>Seanse</h1>

<p>
    <a asp-action="Create">Utwórz nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FilmIdFilm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminRozpoczecia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminZakonczenia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WolneMiejsca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaNumerSali)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FilmIdFilmNavigation.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminRozpoczecia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminZakonczenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WolneMiejsca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaNumerSali)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSeans">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.IdSeans">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSeans">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
