@model Kino.Models.Bilet

@{
    ViewData["Title"] = "Usuń Bilet";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">Usuń Bilet</h4>
        </div>
        <div class="card-body">
            <h3 class="text-danger">Czy jesteś pewien, że chcesz usunąć ten bilet?</h3>
            <div class="mt-3">
                <h4>Informacje o Bilecie</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.ZarezerwowaneMiejsca)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.ZarezerwowaneMiejsca)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.SeansIdSeans)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.SeansIdSeans)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.KlientLoginNavigation.Login)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.KlientLoginNavigation.Login)
                    </dd>
                </dl>
            </div>
            <form asp-action="Delete" class="mt-4">
                <input type="hidden" asp-for="IdBilet" />
                <button type="submit" class="btn btn-danger">Usuń</button>
                @if (User.IsInRole("Klient"))
                {
                    <a class="btn btn-secondary ml-2" asp-area="" asp-controller="Bilets" asp-action="Rezerwacje">Powrót do listy</a>
                }
                else
                {
                    <a class="btn btn-secondary ml-2" asp-area="" asp-controller="Bilets" asp-action="Index">Powrót do listy</a>
                }
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
