@model Kino.Models.Film

<h1>Details</h1>

<div class="row">
    <!-- Left Column -->
    <div class="col-md-8">
        <h4>Film</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Tytul)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Tytul)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.CzasTrwania)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.CzasTrwania)
            </dd>
        </dl>
    </div>
    <!-- Right Column -->
    <div class="col-md-4">
        <h4>Seans List</h4>
        <hr />
        <ul>
            @foreach (var seans in Model.Seans)
            {
                <li>
                    <strong>Start:</strong> @seans.TerminRozpoczecia <br />
                    <strong>End:</strong> @seans.TerminZakonczenia <br />
                    <strong>Available Seats:</strong> @seans.WolneMiejsca
                </li>
            }
        </ul>
    </div>
</div>

<div>
    <a asp-action="IndexRepertuar">Back to List</a>
</div>